.form-page {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: blue;
  width: 100%;
  height: 100%;
  background-image: url(../../images/base/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-page main {
  position: absolute;
  top: 0px;
  left: 50%;
  bottom: 0%;
  right: 0%;
  background: white;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-page main .message.error,
.form-page main .message.success {
  width: inherit;
}
.form-page main h1 {
  width: inherit;
}

.form-page main p {
  width: inherit;
}
