@use "_basic" as basic;
@use "sass:math";

header .site-graphic {
  background-size: 100% basic.$site-graphic-height;
  background-repeat: no-repeat;
  background-color: basic.$color-lines;
  height: basic.$site-graphic-height;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.site-top {
  $site-top-small-logo-height: calc(
    math.round(
      (basic.$site-top-small-height) - basic.$site-top-small-leading-space -
        basic.$site-top-small-trailing-space
    )
  );
  $site-top-small-logo-width: calc(
    math.round(($site-top-small-logo-height) * basic.$site-logo-small-aspect-ratio)
  );

  $site-top-logo-height: calc(
    math.round(
      (basic.$site-top-height) - basic.$site-top-leading-space - basic.$site-top-trailing-space
    )
  );
  $site-top-logo-width: calc(
    math.round(($site-top-logo-height) * basic.$site-logo-aspect-ratio)
  );

  position: relative;
  background: white;
  margin: 0px 0px;

  @include basic.media-breakpoint("small") {
    z-index: 99;
    height: basic.$site-top-small-height;
    margin-top: basic.$site-graphic-height;
  }

  @include basic.media-breakpoint("large") {
    margin: 0px auto;

    width: calc(basic.page-width("large") + 2 * basic.page-gutter("large"));
    height: basic.$site-top-height;

    margin-top: basic.$site-graphic-height;
  }

  .site-logo {
    position: absolute;

    left: basic.page-gutter("small");

    @include basic.media-breakpoint("small") {
      top: basic.$site-top-small-leading-space;
      width: $site-top-small-logo-width;
      height: $site-top-small-logo-height;

      img {
        width: 40px;
        height: 40px;
      }
    }

    @include basic.media-breakpoint("large") {
      top: basic.$site-top-leading-space + 30px;
      left: 30px;
      width: $site-top-logo-width;
      height: $site-top-logo-height;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .site-title {
    position: absolute;

    @include basic.media-breakpoint("small") {
      top: calc(
        math.round(
          basic.$site-top-small-leading-space +
            math.div($site-top-small-logo-height - basic.$site-title-small-font-size, 2)
        )
      );
      left: calc(
        basic.page-gutter("small") + $site-top-small-logo-width +
          basic.element-gutter("small") + 15px
      );
      right: calc(
        basic.page-gutter("small") + 2 * basic.element-gutter("small") + 30px
      ); // 20px == Expand
      height: basic.$site-title-small-font-size;
    }
    @include basic.media-breakpoint("large") {
      top: calc(
        math.round(
          math.div(basic.$site-top-leading-space +
            ($site-top-logo-height - basic.$site-title-font-size), 2)
        )
      );
      left: calc(
        basic.page-gutter("large") + $site-top-logo-width + basic.element-gutter("large")
      );
      right: page-gutter("large");
      height: basic.$site-title-font-size;
    }

    h1 {
      margin: 0px;
      padding: 0px;
      font-weight: 200;

      @include basic.media-breakpoint("small") {
        line-height: basic.$site-title-small-font-size;
        font-size: basic.$site-title-small-font-size;
      }
      @include basic.media-breakpoint("large") {
        line-height: basic.$site-title-font-size;
        font-size: basic.$site-title-font-size;
      }
    }
  }

  .expand {
    background-image: url(../../images/base/hamburger-closed.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 30px;
    cursor: pointer;
    z-index: 10;
    display: none;

    @include basic.media-breakpoint("small") {
      position: absolute;
      width: 30px;
      height: 26px;
      right: calc(basic.element-gutter("small") + basic.page-gutter("small"));
      top: calc(
        math.round(
          math.div(basic.$site-top-small-leading-space + ($site-top-small-logo-height - 26px), 2)
        )
      );
      display: block;
    }

    &.expanded {
      background-image: url(../../images/base/hamburger-open.svg);
    }
  }
}
